<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769106568258-th589k8dafftj27peuqrkv973268n6sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769106568258-th589k8dafftj27peuqrkv973268n6sk</string>
	<key>API_KEY</key>
	<string>AIzaSyAGmdUhpLyKkq5S7b0w1gdXZGZXAQOP9OQ</string>
	<key>GCM_SENDER_ID</key>
	<string>769106568258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WallStudy.AuthenticationApp</string>
	<key>PROJECT_ID</key>
	<string>authenticationapp-b6cb7</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationapp-b6cb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769106568258:ios:e4ce854d223949a30079db</string>
</dict>
</plist>